<div class="container p-5">
  <div class="row">
    <div
      class="col-6 border border-light rounded m-auto p-5 shadow"
      *ngIf="formulario"
    >
      <h6>{{ tituloFormulario }}</h6>
      <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
        <div class="form-group">
          <label>Passageiro:</label>
          <select
            class="form-control form-control-sm"
            formControlName="passageiroId"
          >
            <option
              *ngFor="let passageiro of passageiros"
              [value]="passageiro.id"
            >
              {{ passageiro.nome }} {{ passageiro.sobrenome }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Classe:</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="classe"
          />
        </div>
        <div class="form-group">
          <label>Preço:</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="preco"
          />
        </div>
        <div class="form-group">
          <label>Forma de Pagamento:</label>
          <select
            class="form-control form-control-sm"
            formControlName="pagamentoId"
          >
            <option *ngFor="let pagamento of pagamentos" [value]="pagamento.id">
              {{ pagamento.tipo }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Voo:</label>
          <select class="form-control form-control-sm" formControlName="vooId">
            <option *ngFor="let voo of voos" [value]="voo.id">
              {{ voo.numero }} {{ voo.aviao.companhiaAerea.nome }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Portão:</label>
          <select class="form-control form-control-sm" formControlName="portaoId">
            <option *ngFor="let portao of portoes" [value]="portao.id">
              Portão {{ portao.id }} - {{ portao.aeroporto.nome }}
            </option>
          </select>
        </div>
        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-outline-secondary">
                Salvar
              </button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-sm btn-light">Voltar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
