<mat-toolbar color="primary">
  <a href="/" class="link-route-menu">API Airlines</a>
  <span class="example-spacer"></span>
  <a href="/aeroportos" class="link-route">Aeroportos</a>
  <a href="/avioes" class="link-route">Aviões</a>
  <a href="/companhias" class="link-route">Companhias Aéreas</a>
  <a href="/bagagens" class="link-route">Bagagens</a>
  <a href="/funcionarios" class="link-route">Funcionários</a>
  <a href="/pagamentos" class="link-route">Pagamentos</a>
  <a href="/passageiros" class="link-route">Passageiros</a>
  <a href="/passagens" class="link-route">Passagens</a>
  <a href="/portoes" class="link-route">Portões</a>
  <a href="/voos" class="link-route">Voos</a>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    onclick='window.open("https://github.com/Vithugsil/ApiPassagens")'
  >
    <mat-icon>
        <img src="/assets/white-github-icon.png" alt="GitHub">
    </mat-icon>
  </button>
</mat-toolbar>
