.link-route {
    color: white;
    padding: 0 10px;
    font-size: 18px;
}

.link-route-menu {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
}
