/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.example-spacer {
  flex: 1 1 auto;
}

body {
  background-image: url(/assets/airport-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-branco {
  background-color: white;
}